.gig {
  background-color: var(--article-background-color);
  border-color: var(--article-text-color);
  border-radius: var(--gap);
  border-style: solid;
  border-width: 1px;
  padding: var(--padding-horz) var(--padding-horz);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  grid-template-areas:
    "title"
    "image"
    "info"
    "bands"
    "description";
  .gigTitle {
    grid-area: title;
    margin: 0;
  }
  .gigImage {
    grid-area: image;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 0px 0px;
    }
  }
  .gigInfo {
    grid-area: info;
  }
  .gigBands {
    grid-area: bands;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-family: "Rubik Glitch", system-ui;
      font-weight: 400;
      font-style: normal;
    }
  }
  .gigDescription {
    grid-area: description;
  }
}

@media (min-width: 768px) {
  .gig {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
      "title title title"
      "image info bands"
      "image info bands"
      "description description description";
  }
}

@media (min-width: 1280px) {
  .gig {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "image title title"
      "image info bands"
      "image info bands"
      "image description description";
  }
}
