#linkGrid {
  background-color: var(--article-background-color);
  border-radius: var(--padding-vert);
  padding: var(--padding-horz) var(--padding-horz);

  display: grid;
  grid-template-areas:
    "bands"
    "labels"
    "misc";
  gap: calc(var(--gap) * 3);
  div {
    h2 {
      position: sticky;
      top: var(--base-gap);
      background-color: var(--sticky-header-background-color);
      box-shadow: 10px 10px 50px black;
      border-radius: var(--padding-vert);
      padding: var(--base-gap);
      padding-bottom: calc(var(--base-gap) * 1.4);
      text-align: center;
      margin-top: 0;
      font-size: 3em;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
    li {
      a {
        font-family: "Rubik Glitch", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        color: var(--link-text-color);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 0px 0px;
        }
        &:hover {
          color: var(--link-text-color-hover);
          img {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #linkGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "bands labels"
      "bands misc";
  }
}

@media (min-width: 1280px) {
  #linkGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "bands labels misc";
  }
}

.bands {
  grid-area: bands;
}

.labels {
  grid-area: labels;
}

.misc {
  grid-area: misc;
}
