:root {
  --main-backgrond-color: #000;
  --main-text-color-rgb: 204, 204, 204;
  --main-text-color: rgb(var(--main-text-color-rgb));

  --link-text-color: rgb(var(--main-text-color-rgb));
  --link-text-color-hover: rgba(var(--main-text-color-rgb), 0.75);

  --page-link-background-color-rgb: 105, 27, 27;
  --page-link-background-color-hover: rgb(
    var(--page-link-background-color-rgb)
  );
  --page-link-background-color: rgba(
    var(--page-link-background-color-rgb),
    0.75
  );
  --page-link-background-color-disabled: rgba(
    var(--page-link-background-color-rgb),
    0.5
  );

  --article-background-color: rgba(var(--page-link-background-color-rgb), 0.25);
  --article-text-color: rgba(var(--main-text-color-rgb), 0.6);
  --article-border-color: rgba(var(--main-text-color-rgb), 0.5);

  --gap: 10px;
  --padding-horz: calc(var(--gap) * 2);
  --padding-vert: calc(var(--gap));
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--main-backgrond-color);
  color: var(--main-text-color);
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a.pageLink {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

ol li::marker {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

#pageContainer {
  display: grid;
  gap: var(--gap);
  padding: var(--padding-horz) var(--padding-vert);
  grid-template-areas:
    "head"
    "menu"
    "main"
    "disc";
}

#menu {
  grid-area: menu;
}

#btnMenuToggle {
  margin: var(--padding-vert) auto;
}

a#scrollToMenu {
  display: none;
  width: 32px;
  font-size: 24px;
  text-align: center;
  position: fixed;
  bottom: var(--padding-vert);
  right: var(--padding-horz);
  background-color: black;
  border: 1px solid var(--main-text-color);
  border-radius: var(--gap);
  color: var(--main-text-color);
  padding: var(--gap);
  filter: drop-shadow(8px 8px 8px #000000aa);
  opacity: 0.75;
  &.show {
    display: block;
  }
  &:hover {
    opacity: 1;
  }
}

a.disabled {
  pointer-events: none;
}

a {
  text-decoration: none;
}

#header {
  grid-area: head;
  img {
    width: 100%;
  }
}

#mainSection {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  &:empty {
    background-image: url("../images/under_destruction.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

article, .gig {
  background-color: var(--article-background-color);
  border-color: var(--article-text-color);
  border-radius: var(--padding-vert);
  border-style: solid;
  border-width: 1px;
  padding: var(--padding-vert) var(--padding-horz);
}

article {
  background-color: var(--article-background-color);
  border-color: var(--article-text-color);
  border-radius: var(--padding-vert);
  border-style: solid;
  border-width: 1px;
  padding: var(--padding-vert) var(--padding-horz);
  a {
    font-weight: 800;
    color: var(--link-text-color);
    border-radius: 3px;
    display: inline-block;
    padding: 0 4px;
    text-decoration: underline;
    &:hover {
      color: var(--link-text-color-hover);
    }
  }
}

#disclaimer {
  grid-area: disc;
}

#menuListContainer {
  position: sticky;
  max-height: 100dvh;
  top: var(--gap);
  left: 0;
  overflow-y: auto;
}

ul#menuList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: var(--gap);
  align-self: start;
  a {
    display: block;
    background-color: var(--page-link-background-color);
    padding: var(--padding-vert) var(--padding-horz) var(--padding-vert) 60px;
    color: var(--main-text-color);
    text-align: center;
    font-size: 32px;
    text-shadow: 8px 8px 8px #000000aa;
    border-radius: var(--gap);
    &:hover {
      background-color: var(--page-link-background-color-hover);
    }
    &.disabled {
      pointer-events: none;
      background-color: var(--page-link-background-color-disabled);
    }
  }
}

.gig {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  grid-template-areas: 
    "title"
    "image"
    "info"
    "bands"
    "description";
  .gigTitle {
    grid-area: title;
    margin: 0;
  }
  .gigImage { 
    grid-area: image;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 0px 0px;
    }
  }
  .gigInfo { 
    grid-area: info;
  }
  .gigBands { grid-area: bands;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-family: "Rubik Glitch", system-ui;
      font-weight: 400;
      font-style: normal;
    } }
  .gigDescription { grid-area: description }
}

@media (max-width: 767px) {
  #pageContainer {
    padding: 0 var(--padding-vert);
  }

  ul#menuList {
    height: 0;
    overflow: hidden;
    transition: height 616ms ease;
    interpolate-size: allow-keywords;
    &.show {
      height: auto;
    }
    a {
      padding: var(--padding-vert) var(--padding-horz);
    }
  }
}

@media (min-width: 768px) {
  #btnMenuToggle {
    display: none;
  }
  #pageContainer {
    grid-template-columns: auto 1fr;
    margin: auto;
    grid-template-areas:
      "menu head"
      "menu main"
      "menu disc";
    a.pageLink {
      text-align: right;
    }
  }
  .gig {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: 
      "title title title"
      "image info bands"
      "image info bands"
      "description description description";
  }
  .gig {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: 
      "title title title"
      "image info bands"
      "image info bands"
      "description description description";
  }
}

@media (min-width: 1280px) {
  #pageContainer {
    width: max(1280px, 60vw);
    grid-template-areas:
      "head head"
      "menu main"
      "menu disc";
  }
  .gig {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "image title title"
      "image info bands"
      "image info bands"
      "image description description";
  }
  .gig {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "image title title"
      "image info bands"
      "image info bands"
      "image description description";
  }
}