:root {
  --main-backgrond-color: #000;
  --main-text-color-rgb: 204, 204, 204;
  --main-text-color: rgb(var(--main-text-color-rgb));

  --text-shadow: 8px 8px 8px #000000aa;

  --link-text-color: rgb(var(--main-text-color-rgb));
  --link-text-color-hover: rgba(var(--main-text-color-rgb), 0.75);

  /* keep for easy switch of RGB values (org: 105, 27, 27) */
  --background-color-rgb: rgb(105, 27, 27);
  --background-color-rgb: 43, 66, 89;
  --ui-color-rgb: 122, 10, 13;

  --page-link-background-color-hover: rgb(var(--ui-color-rgb));
  --page-link-background-color: rgba(var(--ui-color-rgb), 0.75);
  --page-link-background-color-disabled: rgba(var(--ui-color-rgb), 0.4);

  --article-background-color: rgba(var(--background-color-rgb), 0.4);
  --article-text-color: rgba(var(--main-text-color-rgb), 0.6);
  --article-border-color: rgba(var(--main-text-color-rgb), 0.5);

  --sticky-header-background-color: color-mix(
    in srgb,
    rgb(var(--background-color-rgb)),
    black 33%
  );

  --base-gap: 0.5rem;
  --gap: calc(var(--base-gap) * 2);
  --padding-horz: calc(var(--base-gap) * 2);
  --padding-vert: calc(var(--base-gap));
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--main-backgrond-color);
  color: var(--main-text-color);
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a.pageLink,
ol li::marker {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.2rem;
}

#pageContainer {
  display: grid;
  gap: var(--gap);
  padding: var(--padding-horz) var(--padding-vert);
  grid-template-areas:
    "head"
    "menu"
    "main"
    "disc";
}

#menu {
  grid-area: menu;
}

#btnMenuToggle {
  margin: var(--padding-vert) auto;
}

a#scrollToMenu {
  display: none;
  width: 32px;
  font-size: 32px;
  text-align: center;
  position: fixed;
  bottom: var(--padding-vert);
  right: var(--padding-horz);
  background-color: var(--sticky-header-background-color);
  box-shadow: 10px 10px 50px black;
  border-radius: var(--base-gap);
  backdrop-filter: blur(10px);
  color: var(--main-text-color);
  padding: var(--base-gap) calc(var(--base-gap) + 5px);
  opacity: 0.75;
  z-index: 5;
  &.show {
    display: block;
  }
  &:hover {
    opacity: 1;
  }
}

a.disabled {
  pointer-events: none;
}

a {
  text-decoration: none;
}

#header {
  grid-area: head;
  img {
    width: 100%;
  }
}

#homeSection {
  img {
    width: 90%;
    height: auto;
    object-position: 0px 50%;
    margin: auto;
  }
  h2 {
    margin-top: -8rem;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2rem;
    text-shadow: var(--text-shadow);
  }
}

#mainSection {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  &:empty {
    background-image: url("../images/under_destruction.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  & > section {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    & > h1 {
      font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
      margin: 0;

      background-color: var(--sticky-header-background-color);
      box-shadow: 10px 10px 50px black;
      border-radius: var(--padding-vert);
      padding: var(--base-gap);
      padding-bottom: calc(var(--base-gap) * 1.4);

      text-shadow: var(--text-shadow);
      text-align: center;

      position: sticky;
      top: var(--base-gap);
    }
  }
}

article {
  background-color: var(--article-background-color);
  border-radius: var(--gap);
  padding: var(--padding-vert) var(--padding-horz);
  a {
    font-weight: 800;
    color: var(--link-text-color);
    text-decoration: underline;
    &:hover {
      color: var(--link-text-color-hover);
    }
  }
}

#disclaimer {
  grid-area: disc;
  margin-bottom: 100px;
}

#menuListContainer {
  position: sticky;
  max-height: 100dvh;
  top: var(--base-gap);
  left: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

ul#menuList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: var(--gap);
  align-self: start;
  a {
    display: block;
    background-color: var(--page-link-background-color);
    padding: calc(var(--padding-vert) - 2px) var(--padding-horz)
      var(--padding-vert) 60px;
    color: var(--main-text-color);
    text-align: center;
    font-size: 32px;
    text-shadow: var(--text-shadow);
    border-radius: var(--base-gap);
    &:hover {
      background-color: var(--page-link-background-color-hover);
    }
    &.disabled {
      pointer-events: none;
      background-color: var(--page-link-background-color-disabled);
    }
  }
}

@media (max-width: 767px) {
  #pageContainer {
    padding: 0 var(--padding-vert);
  }

  ul#menuList {
    height: 0;
    overflow: hidden;
    transition: height 616ms ease;
    interpolate-size: allow-keywords;
    &.show {
      height: auto;
    }
    a {
      padding: var(--padding-vert) var(--padding-horz);
    }
  }
  #homeSection {
    h2 {
      margin-top: -4rem;
    }
  }
}

@media (min-width: 768px) {
  #btnMenuToggle {
    display: none;
  }
  #pageContainer {
    grid-template-columns: auto 1fr;
    margin: auto;
    grid-template-areas:
      "menu head"
      "menu main"
      "menu disc";
    a.pageLink {
      text-align: right;
    }
  }
}

@media (min-width: 1280px) {
  #pageContainer {
    width: max(1280px, 60vw);
    grid-template-areas:
      "head head"
      "menu main"
      "menu disc";
  }
}
